<div class="sheet">
  <div>New</div>
  <%= link_to 'Index', root_path %>
  <%= form_with(model: @sheet, url: sheets_preview_pdf_path, method: :post, local: true, data: {turbo: false }) do |f| %>
    <div>
      <%= f.label :content, 'input_form' %><br>
      <%= f.text_field :content %><br>
    </div>
    <div>
      <%= f.submit 'Preview PDF', target: '_blank' %>
    </div>
  <% end %>
</div>